.contact {
    &-banner {
        padding: 240px 140px;

        @media (max-width: 1440px) {
            padding: 200px 100px 150px;
        }

        @media (max-width: 1280px) {
            padding: 180px 85px 140px;
        }

        @media (max-width: 820px) {
            padding: 140px 65px 150px;
        }

        @media (max-width: 600px) {
            padding: 105px 35px 150px;
        }
    }

    &-title {
        svg {
            width: 65px;
        }
    }

    &-square {
        width: 100%;
        height: 800px;
        background: $black;
        border-radius: 30px;

        @media (max-width: 1280px) {
            height: 635px;
        }
    }

    &-text {
        margin-top: 35px;
        width: 80%;
        margin-bottom: 5px;

        @media (max-width: 600px) {
            margin-top: 5px;
        }

        p {
            color: $black-25;

            a {
                &:hover {
                    color: $white;
                }
            }
        }
    }

    &-detail {
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
        width: 75%;
        color: $white;
        transition: .3s ease;

        &:last-of-type {
            @media (max-width: 600px) {
                margin-bottom: 30px;
            }
        }

        @media (max-width: 1440px) {
            width: 80%;
        }

        .fas,
        .fab {
            padding: 10px;
            font-size: 12px;
            border: 1px solid $secondary;
            border-radius: 5px;
            margin-right: 30px;
            color: $secondary;
            min-width: 34px;
            text-align: center;

            @media (max-width: 1280px) {
                margin-right: 20px;
            }
        }

        &:hover {
            color: $secondary;
        }
    }
}