.team {
    padding: 180px 140px 90px;
    position: relative;

    @media (max-width: 1680px) {
        padding: 180px 120px 90px;
    }

    @media (max-width: 1440px) {
        padding: 150px 100px 70px;
    }

    @media (max-width: 1280px) {
        padding: 120px 85px 60px;
    }

    @media (max-width: 1024px) {
        padding: 100px 65px 60px;
    }

    @media (max-width: 600px) {
        padding: 75px 35px 60px;
    }

    .text-wrapp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-content {
        margin-top: 30px;
    }
}

.circle {
    width: 745px;
    height: 745px;
    border-radius: 50%;
    border: 1px dashed $secondary;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    @media (max-width: 1440px) {
        top: 170px;
    }

    @media (max-width: 1280px) {
        top: 140px;
    }

    @media (max-width: 1024px) {
        top: 120px;
    }

    @media (max-width: 820px) {
        top: 117px;
        width: 380px;
        height: 380px;
    }

    @media (max-width: 600px) {
        top: 89px;
        width: 250px;
        height: 250px;
    }
}

.member {
    padding: 0 35px;
    margin-top: 50px;
    width: 100%;
    position: relative;
    z-index: 2;

    @media (max-width: 1600px) {
        padding: 0 28px;
    }

    @media (max-width: 1440px) {
        padding: 0 25px;
    }

    @media (max-width: 820px) {
        padding: 0 10px;
    }

    @media (max-width: 600px) {
        margin-top: 40px;
    }

    .text-36 {
        font-size: 32px;

        @media (max-width: 1680px) {
            font-size: 28px;
            line-height: 40px;
        }

        @media (max-width: 1440px) {
            font-size: 22px;
            line-height: 35px;
        }

        @media (max-width: 1280px) {
            font-size: 20px;
            line-height: 25px;
        }

        @media (max-width: 1024px) {
            font-size: 16px;
            line-height: 23px;
            font-weight: 500;
        }

        @media (max-width: 820px) {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &-img {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        filter: grayscale(1);
        transition: .5s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            overflow: hidden;

            @media (max-width: 600px) {
                border-radius: 8px;
            }
        }

        @media (max-width: 1680px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            border-radius: 15px;
        }

        @media (max-width: 1440px) {
            height: 200px;
        }

        @media (max-width: 1366px) {
            height: 190px;
        }

        @media (max-width: 1280px) {
            height: 180px;
        }

        @media (max-width: 1024px) {
            height: 230px;
        }

        @media (max-width: 820px) {
            height: 190px;
        }

        @media (max-width: 600px) {
            height: 130px;
            border-radius: 8px;
        }

        img {
            height: 100%;

            @media (max-width: 1680px) {
                width: auto;
                height: 100%;
            }

            @media (max-width: 1440px) {
                height: 100%;
            }

            @media (max-width: 820px) {
                width: 100%;
            }
        }

        &:hover {
            filter: grayscale(0);

            .location {
                transform: translateY(-30px);

                @media (max-width: 1680px) {
                    transform: translateY(-30px);
                }

                @media (max-width: 1024px) {
                    transform: translateY(-20px);
                }
            }

            .overlay-dark {
                opacity: 1;
            }
        }
    }

    // &-info {
    //     margin-top: 25px;

    //     @media (max-width: 1680px) {
    //         margin-top: 20px;
    //     }

    //     @media (max-width: 1440px) {
    //         margin-top: 15px;
    //     }

    //     @media (max-width: 1280px) {
    //         margin-top: 10px;
    //     }
    // }

    &-social {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $white;
        border-radius: 5px;
        color: $secondary;
        transition: .3s ease;

        @media (max-width: 1680px) {
            border-radius: 7px;
        }

        @media (max-width: 1440px) {
            width: 35px;
            height: 35px;
        }

        @media (max-width: 1024px) {
            width: 30px;
            height: 30px;
        }

        @media (max-width: 820px) {
            width: 20px;
            height: 20px;
            border-radius: 2px;
        }

        &:hover {
            background: $secondary;
            border: 1px solid $secondary;
            color: $white;
        }
    }

    .location {
        transform: translateY(40px);
        position: relative;
        z-index: 2;
        transition: .5s ease;

        @media (max-width: 1440px) {
            transform: translateY(20px);
        }
    }
}

.overlay-dark {
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63%, rgba($color: $dark, $alpha: 0.8) 100%);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.page {
    &-banner {
        padding: 47px 140px 90px;

        @media (max-width: 1680px) {
            padding: 47px 120px 80px;
        }

        @media (max-width: 1440px) {
            padding: 47px 100px 80px;
        }

        @media (max-width: 1280px) {
            padding: 45px 85px 80px;
        }

        @media (max-width: 1024px) {
            padding: 35px 65px 60px;
        }

        @media (max-width: 820px) {
            padding: 0px 65px 60px;
        }

        @media (max-width: 600px) {
            padding: 0px 35px 60px;
        }
    }

    &-navigation {
        padding: 40px 50px;
        background: $primary;
        border-radius: 30px;

        @media (max-width: 1680px) {
            border-radius: 25px;
        }

        @media (max-width: 1366px) {
            padding: 30px 40px;
        }

        @media (max-width: 1366px) {
            padding: 25px 30px;
        }

        @media (max-width: 1366px) {
            padding: 20px 25px;
            border-radius: 15px;
        }

        @media (max-width: 1366px) {
            margin-top: 20px;
        }

        &:hover {
            .page-arrow {
                transform: translateX(10px);
            }
        }
    }

    &-arrow {
        transition: .3s ease;

        svg {
            @media (max-width: 1024px) {
                width: 30px;
            }
        }
    }
}