$primary: #386AE7;
$secondary: #38E8DE;
$black: #262D3D;
$black-75: #323846;
$black-50: #3B414F;
$black-25: #9DA1AC;
$black-10: #CDD1DD;
$dark: #131517;
$primary-gradient: linear-gradient(106.97deg, #386AE7 0%, #38E8DE 100%);
$dark-gradient: linear-gradient(180deg, #323846 0%, $black 100%);