@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utilities";
@import "./nav";
@import "./keyframes";
@import "./banner";
@import "./services";
@import "./implementaion";
@import "./footer";
@import "./about-us";
@import "./team";
@import "./career";
@import "./contact";
@import "./loader";
@import "./reveal";
@import "./contact-form";